@use "../../scss/variables.scss" as *;

.footer {
    background-color: $footer-background-color;
    color : $color-tertiary;
    min-height: 209px;
    display: grid;
    place-items: center;
    align-content: center;
    gap: 28px;
    &__links {
        font-weight: 500;
        font-size: 24px;
        font-family: "Montserrat", serif;
    }
}